<nav class="red">
  <div class="nav-wrapper">
    <span class="brand-logo">Redline</span>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if current_user.present? %>
        <li><button data-target="new_occurrence_modal" class=" btn modal-trigger">Registrar ocorrência</button></li>
        <li><%= current_user.email %></li>
        <li><%= link_to 'Sair', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Login', new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>

<%= render 'occurrences/modal_new' %>
