<nav class="red">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Redline</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if current_user.present? %>
        <li><%= current_user.email %></li>
        <li><%= link_to 'Sair', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Login', new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
